<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" />
    <!-- <handlers accessPolicy="Read, Execute, Script" /> -->
    <handlers accessPolicy="Read, Script" />
    <directoryBrowse enabled="false" />
    <!-- <security>
    <authentication>
      <anonymousAuthentication enabled="true" userName="IUSR" />
    </authentication>
   </security> -->
  </system.webServer>
  <location path="zip">
    <system.webServer>
      <directoryBrowse enabled="false" />
    </system.webServer>
  </location>
  <system.web>

    <!-- <urlMappings enabled="true">
      <add url="~/downloads" mappedUrl="~/minshell" />
    </urlMappings> -->

  </system.web>
</configuration>
